/*Aqui empieza la primera hoja*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: lightslategray;
}

.items{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: darkslategrey;
    padding: 1rem;

    text-transform: uppercase;
    font-weight: bold;
}

.item{
    padding: 1rem;
    margin: auto;
}

.link{
    text-decoration: none;
    color: white;
    
}

.item:hover{
    background-color: orangered;
}

.logo{
    display: flex;
    color: cornsilk;
    margin: auto;
    max-width: 1200px;
}

.logo img{
    width: 60px;
    height: 50px;
    position: relative;
    top: 0.5rem;
    left: 1rem;
    box-shadow: 2px 2px 10px black;
}

@media screen and (min-width:720px) {
    .items{
        flex-direction: row;  
    }
}

@media screen and (max-width:720px) {
    .logo img{
        margin: 0 auto;
    }

    .logo h1{
        position: relative;
        left: 6.5rem;
    }
}

.indice{
    
    background-color: darkslategrey;

    width: 40%;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20vh;
}

.indice a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;

    position: relative;
    left: 1rem;
}

@media screen and (max-width:720px) {
    .indice{
        width: 60vh;
    }

    .indice a{
        flex-direction: column;
        position: relative;
        right: 2rem;
    }
}

.indice h2{
   color: white;
   font-size: 18px;
   text-align: left;
}

.backend p{
    text-align: justify;
    font-size: 18px;
}

.backend a{
    text-decoration: none;
    color: darkblue;
}

.flecha{
    width: 120px;
    height: 90px;

    position: relative;
    top: 2rem;

    background-color: darkslategrey;
    border-radius: 50%;
    padding: 10px;

    
}

.contenedor{
    margin: 30px auto;
    max-width: 1200px;

    background-color: lightgrey;
    padding: 40px 20px;
}

caption{
    font-weight: bold;
}

.publi{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/forndend-backend.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.publi h2{
    text-align: center;
    margin: 0 auto;

    position: relative;
    top: 20vh;
    color: white;
    font-size: 50px;
}
.vs{
    text-align: center;
    position: relative;
    top: 2rem;
    
}
.vs img {
   display: flex;
   margin: 0 auto;
   width: 700px;
   height: 450px;
}

@media screen and (max-width:720px) {
    .vs img{
        height: 200px;
        width: 400px;
    }
}

table{
   background-color: white;
   text-align: justify;
   width: 80%;
   margin: 0 auto;
   border-collapse: collapse;
   border-bottom: solid black 5px;

   position: relative;
   top: 2rem;
}

tr, td{
    padding: 20px;
}

thead{
    border-bottom: solid 5px black;
    background-color: darkslategrey;
    color: white;
    height: 50px;
    text-align: center;
}

tr:nth-child(even){
    background-color: silver;
}

.pie-pagina{
    background-color: darkslategrey;
    height: 20vh;
    color: white;
    position: relative;
}

.pie-pagina a{
    text-decoration: none;
    color: white;
}

.pie-pagina h4{
    position: relative;
    text-align: center;
    top: 55px;
}

/*Aqui empeiza el código CSS para la página 2*/

h2{
    color: darkblue;
    text-align: center;
}

h3{
    color: darkblue;
    font-size: 24px;
    text-align: center;

    position: relative;
    top: 1rem;
}

.contenido p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo1{
    color: darkblue;
    font-size: 30px;
}

.tabla2{
   background-color: lightblue;
   width: 60%;
   text-align: justify;
   border-collapse:collapse ;
   padding: 20px;
}

tr, td{
    border-bottom: solid 5px darkslategrey;
    text-transform: uppercase;
    
}

td ul{
    list-style: none;
    text-align: left;
}

th{
    color: darkblue;
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
}

.vs2{
    display: flex;
    flex-direction: column;
}

.vs2 .img1{
    margin: 0 auto;
    padding: 10px;
    
    width: 450px;
    height: 620px;
}

@media screen and (max-width:720px){
    .vs2 .img1{
        width: 360px;
        height: 520px;
    }
}

.card{
    border-radius: 10px;
    background-color: darkslategrey;
    padding: 15px;
    color: white;
    text-align: justify;
}

/*aqui empieza la 3ra pagina*/

.contenedor-herr{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

.carta{
    background-color: darkslategrey;
    display: flex;
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
    padding: 40px 20px;
    
}

@media screen and (max-width:720px){
    .carta{
        flex-direction: column;
        width: 100%;
    }
}

.carta p{
    color: white;
    text-align: justify;
    text-transform: uppercase;
}

.carta a{
    text-decoration: none;
}

.carta h3{
    text-align: center;
    color: white;
}

.contenedor-herr a{
    background-color: silver;

    position: relative;
    top: 0.5rem;
    border-radius: 50px;
    text-decoration: none;

    color: white;
    display: flex;
    margin: 0 auto;
    max-width: 240px;
    font-weight: bold;
    text-transform: uppercase;

    padding: 20px 20px;
    background: none;
    border: solid 4px white;
    text-align: center;
    box-shadow: 2px 2px 15px silver;
}

.herr{
    border: solid 5px darkslategrey;
    width: 61%;
    display: flex;
    margin: 30px auto;
    padding: 5px;
    background-color: lightslategray;
    color: darkblue;
}

.video1{
    display: flex;
    margin: 0 auto;
    width: 340px; 
    height: 220px;

    background-color: darkslategrey;
    box-shadow: 2px 2px 15px silver;
    padding: 20px 20px;
    width: 50%;
    height: 20%;
    border-radius: 20px;
    border: solid 5px white;
}

.seccion-video h3{
    font-size: 18px;
    color: white;
    position: relative;
    left: 2rem;
}

@media screen and (max-width:720px){
    .seccion-video h3{
        width: 50%;
        margin: 0 5rem;
        text-align: justify;
    }

    .video1{
        width: 80%;
        height: 20%;
    }
}
.seccion-video{
    background-color: darkslategrey;
    margin: 40px auto;
}

/*Aqui comienca la cuarta hoja*/

.programando{
    height: 240px;
    width: 340px;

    display: flex;
    margin: 0 auto;

    border: solid blue 4px;
}

.contenido2{
    text-align: justify;
    font-size: 18px;
}

.ejemplo1{
    font-size: 18px;
    color: darkblue;
}

.plataformas{
    color: darkblue;
    font-size: 24px;
}

section h2{
    font-size: 30px;

}
section .ejemplo{
    background-color: darkslategrey;
    border-radius: 10px;
    border: solid black 4px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

ol{
    background-color: lightskyblue;
}

.usos li{
    padding: 10px;
}

.usos p{
    background-color: lightslategrey;
    padding: 20px;
    font-weight: bold;
    color: white;
}

/*aqui empieza la quinta hoja*/

.redes-sociales li{
    color: white;
    font-weight: bold;
    width: 40vh;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin: 20px auto;
    list-style: none;

}

.redes-sociales{
    background-color: darkslategrey;
    position: relative;
    top: -5rem;
    padding: 10px;
}

.redes-sociales h2{
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.facebook{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url(../img/facebook.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 50px;
    padding: 40px;
}

.Twitter{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url(../img/twitter.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 50px;
    padding: 40px;
}

.youtube{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
     url(../img/youtube.png);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
    border-radius: 50px;
    padding: 40px;
}

.formulario{
    background-color: darkslategrey;
    color: white;
    font-size: 18px;
    text-align: center;
    width: 75vh;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;

    position: relative;
    top: 10vh;
}

.formulario h2{
    color: white;
    font-size: 30px;
}

.formulario .ingeso-datos{
    padding: 10px;
    margin: 20px;
    width: 50vh;
    border: solid black 4px;
}

.boton-enviar{
    padding: 20px;
    border-radius: 50px;

    font-size: 16px;
    text-transform: uppercase;
    background: none;
    color: white;
    border-color: white ;
}

.logear{
    position: relative;
    top: 3rem;
}

@media screen and (max-width:720px) {
    .formulario{
        width: 100%;
    }
}

.mision-vision{
    position: relative;
    top: 7rem;
    width: 60%;
    margin: 0 auto;
}

@media screen and (max-width:720px) {
    .mision-vision{
        width: 105%;
    }

    .mision-vision h3{
        width: 96%;
    }
}

.mision-vision h3{
    background-color: lightslategrey;
    padding: 20px 20px;
}

.mision-vision li{
    background-color: darkslategrey;
    padding: 20px 20px;
    color: white;
    list-style: none;
    position: relative;
    right: 2.5rem;
    width: 106%;
}

.contenedor2{
    margin: 30px auto;
    max-width: 1200px;

    background-color: lightgrey;
    padding: 100px 20px;
}
