/*Aqui empieza la primera hoja*/

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: lightslategray;
}

.items{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;

    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    background-color: darkslategrey;
    padding: 1rem;

    text-transform: uppercase;
    font-weight: bold;
}

.item{
    padding: 1rem;
    margin: auto;
}

.link{
    text-decoration: none;
    color: white;
    
}

.item:hover{
    background-color: orangered;
}

.logo{
    display: flex;
    color: cornsilk;
    margin: auto;
    max-width: 1200px;
}

.logo img{
    width: 60px;
    height: 50px;
    position: relative;
    top: 0.5rem;
    left: 1rem;
    box-shadow: 2px 2px 10px black;
}

@media screen and (min-width:720px) {
    .items{
        flex-direction: row;
        
    }
}

.indice{
    position: relative;
    top: 3rem;
    background-color: darkslategrey;

    width: 30%;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 20vh;
    
}

.indice a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.indice h3{
    color: white;
    font-size: 18px;
    position: relative;
    left: 1rem;
}
.backend{
    text-align: justify;
    margin: -55px 20px;

}

.flecha{
    width: 120px;
    height: 90px;

    position: relative;
    top: 2rem;

    background-color: darkslategrey;
    border-radius: 100%;
    padding: 10px;
}

.contenedor{
    margin: 30px auto;
    max-width: 1200px;

    background-color: lightgrey;
    padding: 40px 20px;
}

caption{
    font-weight: bold;
}

.publi{
    background-image: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(../img/forndend-backend.jpg);
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.publi h2{
    text-align: center;
    margin: 0 auto;

    position: relative;
    top: 20vh;
    color: white;
    font-size: 50px;
}
.vs{
    text-align: center;
    position: relative;
    top: 2rem;
    
}
.vs img {
   display: flex;
   margin: 0 auto;
   width: 700px;
   height: 450px;
}

@media screen and (max-width:720px) {
    .vs img{
        height: 200px;
        width: 400px;
    }
}

table{
   background-color: white;
   text-align: justify;
   width: 80%;
   margin: 0 auto;
   border-collapse: collapse;
   border-bottom: solid black 5px;

   position: relative;
   top: 2rem;
}

tr, td{
    padding: 20px;
}

thead{
    border-bottom: solid 5px black;
    background-color: darkslategrey;
    color: white;
    height: 50px;
    text-align: center;
}

tr:nth-child(even){
    background-color: silver;
}

.pie-pagina{
    background-color: darkslategrey;
    height: 20vh;
    color: white;
    position: relative;
}

.pie-pagina a{
    text-decoration: none;
    color: white;
}

.pie-pagina h4{
    position: relative;
    text-align: center;
    top: 55px;
}

/*Aqui empeiza el código CSS para la página 2*/

h2{
    color: darkblue;
    text-align: center;
}

h3{
    color: blue;
    font-size: 24px;
}

.titulo1{
    color: darkblue;
    font-size: 30px;
}

.tabla2{
   background-color: lightblue;
   width: 100%;
   text-align: justify;
   border-collapse:collapse ;
   padding: 20px;
}

tr, td{
    border-bottom: solid 5px darkslategrey;
    text-transform: uppercase;
}

th{
    color: darkblue;
    background-color: lightsteelblue;
    padding: 10px;
    text-align: center;
}

.vs2{
    display: flex;
    flex-direction: column;
}

.vs2 .img1{
    margin: 0 auto;
    padding: 10px;
    
    width: 450px;
    height: 620px;
}

.vs2 .img2{
    margin: 0 auto;
    padding: 10px;
    
    width: 550px;
    height: 320px;
}

@media screen and (max-width:720px){
    .vs2 .img1{
        width: 360px;
        height: 520px;
    }

    .vs2 .img2{
        width: 400px;
        height: 250px;
    }
}

.card{
    border-radius: 10px;
    background-color: darkslategrey;
    padding: 15px;
    color: white;
    text-align: justify;
}

/*aqui empieza la 3ra pagina*/

.contenedor-herr{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
.carta{
    background-color: darkslategrey;
    display: flex;
    margin: 0 auto;
    width: 40%;
    border-radius: 20px;
    padding: 0 20px;
}

@media screen and (max-width:720px){
    .carta{
        flex-direction: column;
        width: 100%;
    }
}

.carta p{
    color: white;
    text-align: justify;
    text-transform: uppercase;
    font-size: 18px;
}

.carta h3{
    text-align: center;
    color: white;
}

.contenedor-herr button{
    padding: 10px 10px;
    border-radius: 20px;
    background: none;
    color: white;

    display: flex;
    margin: 0 auto;
    cursor: pointer;
    font-size: 18px;
    border-color: white;
    font-weight: bold;
    box-shadow: 2px 2px 10px white;
}

.herr{
    border: solid 5px darkslategrey;
    width: 61%;
    display: flex;
    margin: 30px auto;
    padding: 5px;
    background-color: lightslategray;
    color: darkblue;
}

.video1{
    display: flex;
    margin: 0 auto;
    width: 340px; 
    height: 220px;

    background-color: darkslategrey;
    padding: 20px 20px;
    width: 50%;
    height: 20%;
    border-radius: 20px;
    border: solid 5px black;
}

.seccion-video h3{
    font-size: 20px;
    color: white;
    position: relative;
    left: 2rem;
}

.seccion-video{
    background-color: darkslategrey;
    margin: 40px auto;
}

/*Aqui comienca la cuarta hoja*/

.programando{
    height: 240px;
    width: 340px;

    display: flex;
    margin: 0 auto;

    border: solid blue 4px;
}

.ejemplo1{
    font-size: 18px;
    color: darkblue;
}

.plataformas{
    color: darkblue;
    font-size: 24px;
}

section h2{
    font-size: 30px;

}
section .ejemplo{
    background-color: darkslategrey;
    border-radius: 10px;
    border: solid black 4px;
    padding: 20px;
    color: white;
    font-weight: bold;
}

ol{
    background-color: lightskyblue;
}

.usos li{
    padding: 10px;
}

.usos p{
    background-color: lightslategrey;
    padding: 20px;
    font-weight: bold;
    color: white;
}








